* text=auto
*.cpp text eol=lf
*.hpp text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.ps1 text eol=lf
*.exe binary
*.dll binary
*.ico binary
*.gz binary
*.xz binary
licenses/** -whitespace
